# Data Science Tools and Ecosystem

## Author 

Davit Hakobyan

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives

- List popular Data Science languages
- List some of the commonly used libraries in Data Science 
- Show various Data Science tools

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. C
4. C++

### Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. NumPy
3. Pandas
4. TensorFlow

| Data Science Tools |
|------------------------|
| RStudio                |
| Apache Spark           |
|Jupyter Notebook        |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335